@{
    ViewBag.Title = "Authenticate";
}

@model SimpleIdServer.Authenticate.Basic.ViewModels.AuthorizeViewModel

@section PageTitle
    {
    <h1>
        @ViewBag.Translations["login"]
    </h1>
}

<div class="row">
    <div class="col-md-6">
        <div>
            <h2>
                @ViewBag.Translations["login_external_account"]
            </h2>
        </div>
        <div>
            @if (!Model.IdProviders.Any())
            {
                <p>There is no external authentication services configured</p>
            }
            else
            {
                using (Html.BeginForm("ExternalLogin", "Authenticate", new { area = "sms" }))
                {
                    foreach (var loginProvider in Model.IdProviders)
                    {
                        <button type="submit" class="btn btn-default" id="@loginProvider.AuthenticationScheme" name="provider" value="@loginProvider.AuthenticationScheme" title="Log in using your @loginProvider.AuthenticationScheme account">@loginProvider.DisplayName</button>
                    }
                }
            }
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <h2>
                @ViewBag.Translations["login_local_account"]
            </h2>
        </div>
        <div>
            @Html.ValidationMessage("message_error", new { @class = "text-danger" })
            @using (Html.BeginForm("LocalLogin", "Authenticate", new { area = "sms" }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    <div class="form-group">
                        <label class="control-label">@ViewBag.Translations["phone"]</label>
                        <input maxlength="100" class="form-control" name="PhoneNumber" type="text" />
                        @Html.ValidationMessage("PhoneNumber", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">@ViewBag.Translations["login"]</button>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>