@{
    ViewBag.Title = "Send code";
}

@model  SimpleIdServer.Authenticate.SMS.ViewModels.CodeViewModel

@section PageTitle
{
    <h1>
        @ViewBag.Translations["send_code"]
    </h1>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">@ViewBag.Translations["confirmation_code"]</div>
            <div class="panel-body">
                @using (Html.BeginForm("SendCode", "Authenticate", new { area = "sms" }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationMessage("message_error", new { @class = "text-danger" })
                    <!-- Authorization request code -->
                    <input type="hidden" value="@Model.AuthRequestCode" name="AuthRequestCode" />
                    <!-- Claim -->
                    <input type="hidden" value="@Model.ClaimName" name="ClaimName" />
                    <fieldset class="form-group">
                        <label class="control-label">@Model.ClaimName</label>
                        <input type="text" class="form-control" value="@Model.ClaimValue" name="ClaimValue" disabled />
                    </fieldset>
                    <!-- Confirmation code -->
                    <fieldset class="form-group">
                        <label class="control-label">@ViewBag.Translations["code"]</label>
                        <input type="text" class="form-control" value="@Model.Code" name="Code" />
                        @Html.ValidationMessage("Code", new { @class = "text-danger" })
                    </fieldset>
                    <!-- Submit buttons code -->
                    <fieldset class="form-group">
                        <button type="submit" class="btn btn-primary" name="Action" value="submit">@ViewBag.Translations["validate_confirmation_code"]</button>
                        <button type="submit" class="btn btn-primary" name="Action" value="resend">@ViewBag.Translations["resend_confirmation_code"]</button>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>