@{
    ViewBag.Title = "Renew password";
}

@model SimpleIdServer.Authenticate.LoginPassword.ViewModels.RenewPasswordViewModel

@section PageTitle
{
    <h1>
        @ViewBag.Translations["renew_password"]
    </h1>
}

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("ChangePassword", "Authenticate", new { area = "pwd" }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationMessage("error_message", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label">@ViewBag.Translations["actual_password"]</label>
                <input maxlength="100" class="form-control" name="ActualPassword" type="password" />
                @Html.ValidationMessage("ActualPassword", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="control-label">@ViewBag.Translations["confirm_actual_password"]</label>
                <input maxlength="100" class="form-control" name="ConfirmActualPassword" type="password" />
                @Html.ValidationMessage("ConfirmActualPassword", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="control-label">@ViewBag.Translations["new_password"]</label>
                <input maxlength="100" class="form-control" name="NewPassword" type="password" />
                @Html.ValidationMessage("NewPassword", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="control-label">@ViewBag.Translations["confirm_new_password"]</label>
                <input maxlength="100" class="form-control" name="ConfirmNewPassword" type="password" />
                @Html.ValidationMessage("ConfirmNewPassword", new { @class = "text-danger" })
            </div>
            <input type="hidden" name="Code" value="@Model.Code" />
            <button type="submit" class="btn btn-primary">@ViewBag.Translations["update"]</button>
        }
    </div>
</div>