@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Shell/Views/Shared/_Layout.cshtml";
}

@model SimpleIdServer.Shell.ViewModels.HomeViewModel

<div class="row">
    <h1>Dashboard</h1>
    <a href="@Url.Content("~/.well-known/openid-configuration")">
        <section class="col-md-3 tile">
            <div class="header"></div>
            <div class="row clicked">
                <div class="col-md-4 picture">
                    <img src="@Url.Content("~/img/openid.png")" />
                </div>
                <div class="col-md-8 title">
                    <h4>OpenId contract</h4>
                </div>
            </div>
        </section>
        @foreach (var tile in Model.Tiles)
        {
            <a href="@Url.Action(tile.RedirectionUrl.ActionName, tile.RedirectionUrl.ControllerName, new { area = tile.RedirectionUrl.Area })">
                <section class="col-md-3 tile">
                    <div class="header"></div>
                    <div class="row clicked">
                        <div class="col-md-4 picture">
                            <img src="@tile.Picture" />
                        </div>
                        <div class="col-md-8 title">
                            <h4>@tile.DisplayName</h4>
                        </div>
                    </div>
                </section>
            </a>
        }
</div>
